@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("./images/BG4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.wrapper{
    width: 430px;
    height: 620px;
    background-color: #204c7b;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.input-group{
    margin: 30px 0;
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.input-group input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    padding: 0 5px;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-top: none;
    border-left : none;
    border-right: none ;
    outline: none;
}
.input-group input:focus~label, .input-group input:valid~label, .input-group input:invalid~label{
    top: -5px;
}

.agree{
    margin: -5px 0 15px 5px;
}
.agree label{
    color: white;
    font-size: 14px;
}
.agree label input{
    accent-color: #b97f40;
}
.signUp-link{
    font-size: 14px;
    margin: 15px 0;
}
.signUp-link p a {
    text-decoration: none;
}
.signUp-link p a:hover {
    text-decoration: underline;
}
